body {
    display: flex;
    font-family: sans-serif;
}

.centrar {
    text-align: center;
    margin: auto;
}

.botones button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}